@charset "utf-8";
body {
  background-color: #e8dfd9;
  margin: 0;
  padding: 0;
}

header {
  height: 75px;
  padding: 0 10%;
  margin: 0 auto;
  color: white;
  background: black;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-family: "Noto Serif HK", serif;
}

.upper {
  text-align: center;
  background-color: white;
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 0 0;
  background-image: url(./img/main001.gif);
}
.upper h1 {
  font-family: "Noto Serif HK", serif;
  font-size: 100px;
  margin: 0;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background-color: white;
  color: black;
}
.upper p {
  padding: 5px;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.sub {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  height: auto;
  background-color: black;
  color: white;
  line-height: 40px;
}
.sub p {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: bold;
}
.Subbutton {
  margin: 10px;
  padding: 10px 30px;
  background-color: rgb(110, 110, 255);
  color: #fff;
  border: none;
  text-align: center;
  font-weight: bold;
}

main {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  font-size: 100px;
}
main p {
  margin: 0;
  padding: 10px;
  font-size: 20px;
}

.article_left {
  background-color: white;
  width: 33%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  float: left;
}
.article_left h2 {
  text-align: center;
  margin-bottom: 0;
  padding: 0 10px;
  height: 65px;
  font-size: 20px;
}
.article_left img {
  margin: 10px;
  width: 95%;
  height: 200px;
}

.article_middle {
  background-color: white;
  width: 33%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  float: right;
}
.article_middle h2 {
  text-align: center;
  margin-bottom: 0;
  padding: 0 10px;
  height: 65px;
  font-size: 20px;
}
.article_middle img {
  margin: 10px;
  width: 95%;
  height: 200px;
}

.article_right {
  background-color: white;
  width: 33%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  float: right;
}
.article_right h2 {
  text-align: center;
  margin-bottom: 0;
  padding: 0 10px;
  height: 65px;
  font-size: 20px;
}
.article_right img {
  margin: 10px;
  width: 95%;
  height: 200px;
}
